@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;  
}

:root{
    --body-color: #dbc0a2;
    --sidebar-color: #70bd6e;
    --primary-color: #e74f3b;
    --primary-color-light: #fff;
    --toggle-color: #e19251;
    --text-color: #123f18;

    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

/*do edycji*/
body{
    height: 100vh;
    background: var(--body-color);
    transition: var(--tran-02);
}

body.dark{
    --body-color: #544837;
    --sidebar-color: #304033;
    --primary-color: #c85656;
    --primary-color-light: #fff;
    --toggle-color: #e19251;
    --text-color: #acacac;
}

/* =========== RESUABLE CSS =======*/
.sidebar .text{ /*<--puki co zauważyłam, że edutuje text od logo*/
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    white-space: nowrap; /*<--po zamknięciu paska elementy pozostają w miejscu*/
    opacity: 1;
    transition: var(--tran-03);

}
.sidebar .image{ /*<--edytuje logo*/
    min-width: 60px; /*odległość napisu od loga*/
    display: flex;
    align-items: center;
}
/*=========== SIDEBAR ============*/

/*do edycji*/
.sidebar{ /*<--pasek boczny*/
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
}

.sidebar.close{
    width: 88px;
}
/*===================================*/

.sidebar.close .text{
    opacity: 0;
    transition: var(--tran-02);
}

.sidebar li{
    margin-top: 10px;
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
}
.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}
.sidebar li .text,
.sidebar li .icon{
    color: var(--text-color);
    transition: var(--tran-02);
}
.sidebar header{
    position: relative;
}
.sidebar .image-text img{ /*<--obrazek*/
    width:40px;
    border-radius: 6px;
}
.sidebar header .image-text{ /*<--text przy logo*/
    display: flex;
    align-items: center;
}
header .image-text .header-text{ /*<--text przy logo*/
    display: flex;
    flex-direction:column;
}
.header-text .name{
    font-weight: 700;
}
.header-text .profession{
    margin-top: -5px;
}
.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--text-color);
    font-size: 22px;
    transition: var(--tran-03);
}
.sidebar.close header .toggle{
    transform: translateY(-50%) rotate(180deg); /*<-- obraca strzałke przed i po zamknięciu*/
}
.sidebar .search-box{
    background: var(--body-color);
    border-radius: 6px;
}
.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background: var(--body-color);
    border-radius: 6px;
}
.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items:center;
    text-decoration: none;
    transition: var(--tran-04); /*<--element odpowiedzialny za animowane przejście najechania kursorem*/
    border-radius: 6px;
}
.sidebar li a:hover{  /*<--pseudo-klasa odpowiedzialna za efekt najechania kursorem*/
    background: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}

.sidebar .menu-bar{
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between
}
.menu-bar .mode{
    border-radius: 6px;
    position: relative;
    background: var(--body-color);
}

.menu-bar .mode i{
    position: absolute;
    transition: var(--tran-03);
}

.menu-bar .mode .moon-sun{
    display:flex;
    height: 50px;
    width: 60px;
    align-items: center;
}

.menu-bar .mode i.sun{
    opacity: 0;
}

body.dark .menu-bar .mode i.sun{
    opacity: 1;
}

body.dark .menu-bar .mode i.moon{
    opacity: 0;
}

.menu-bar .mode .toggle-switch{
    right: 0px; /*<-- po ustawieniu w .menu-bar .mode position relative naprawia pozycje switcha z lewej na prawą pomimo wartości 0*/
    position: absolute;
    display: flex;
    min-width: 60px; 
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: var(red);
}


.toggle-switch .switch{
    position: relative;
    height: 22px;
    width:  44px;
    border-radius: 25px;
    background: var(--primary-color);
}

.switch::before{
    background: var(--body-color);
    transition: var(--tran-03);
    height:15px;
    width:15px;
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    cursor: pointer;
}

body.dark .switch::before{
    left: 25px;
}




/*18:20*/